/*
    NAME: James Vuong
    CLASS: CPSC 332
    ASSIGNMENT: HW3
    LAST MODIFIED: 09/26/2022
*/


body {
    /*font-family:Verdana, Geneva, Tahoma, sans-serif;*/
}

.profileInfo {
    text-align: center;
    width: 250px;
    font-size:smaller
}

#profilePicture {
    border: 2px solid;
    padding: 5px;
    width: 175px;
    border-radius: 50%; 
}

#contactInfo{
    width:10px;
}

.mainContent {
    text-align: right;
} 


