/*
    NAME: James Vuong
    CLASS: CPSC 332
    ASSIGNMENT: HW3
    LAST MODIFIED: 09/26/2022
*/


.profileInfo {
    text-align: center;
    width: 250px;
}
*/
body {
    font-family:Arial, Helvetica, sans-serif;
}

#profilePicture {
    border: 2px solid;
    padding: 5px;
    width: 100px;
    border-radius: 20%;
}

#contactInfo{
    width:10px;
    
}

/* .mainContent {
    text-align: right;
}  */


