/*
    NAME: James Vuong
    CLASS: CPSC 332
    ASSIGNMENT: HW3
    LAST MODIFIED: 09/30/2022
*/


body {
    margin: 0px auto;
    max-width: 700px;
    height: 100%;
    border: 5px solid black;
}


/* header styling */
.navigationArea{
    background-color: lightgray;
    line-height: 0px;
    width: 100%;
    text-align: center;
}

#cssLogo {
    width: 40px;
    height: 40px;
    position: relative;
    top: 8px;
    left: -300px;
    border-radius: 45%;
}

#navigationLinks {
    position: relative;
    top: -25px;
}

#container {
    display: flex;    
    flex-direction: row;
    height: 85%;
}

 /* Right content general styling */
.profileInfo {
    text-align: center;
    width: 35%;
    font-size:small;
    background-color:rgb(100, 147, 212);
}

/*style edits for NAME, TITLE, and SUMMARY*/
.profileInfo h1 {
    color:navy;
    margin-top: 10px;
    margin-bottom: 5px;
}
.profileInfo h2 {
    margin-top: 5px;
    margin-bottom: 12px;
    color:whitesmoke
}
.profileInfo p {
    margin-left: 20px;
    margin-right: 20px;
    /* margin-top: 30px; */
}

/* the bar that seperates TITLE and SUMMARY */
.profileInfo hr {
    width: 83%;
    height: 2px;
    background: black;
    margin-bottom: 10px;
}

/* LINES in CV Content Styling */
.CVContent hr {
    width: 91%;
    height: 2px;
    font-size: smaller;
    background: black;
    margin-bottom: 5px;
    margin-top: 0%;
}

/* CV Section Headers */
.CVContent h3 {
    text-align: left;
    margin-left: 22px;
    margin-bottom: 2px;
    color:navy
}

/* Profile picture styling */
#profilePicture {
    border: 2px navy solid;
    padding: 5px;
    width: 75%;
    border-radius: 50%; 
    /* background-color: green; */
}

/* for icons under CONTACT*/
#PersonalInfo img{
    width:10px;
    height:10px;
    flex-basis: 100px;
}

/* PROFILE and CONTACT headers */
#profileInfo h3{
    text-align: left;
    margin-left: 10%;
    margin-bottom: 0px;
}


.CVContent {
    width:90%;
} 

/* for tables in CV Content */
table, th, td{
    border: 2px solid black;
    text-align: center;
    font-size: medium;
    margin-left: 22px;
    margin-right: 22px;

}

/* to alternate colors for table rows */
tr:nth-child(odd) {
    background-color:lightgray;
}

/* Table Header color styling */
th {
    background-color: rgb(151, 187, 248);
}

/* SKILLS unordered list styling */
#skills ul {
    column-count: 3;
    list-style-position: inside;
    width: 90%;
}

/*Interests & Hobbies images styling */
#interestsHobbies img{
    width:20px;
    height:20px;
}

